<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>TradeCreate</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.TradeCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeCreate</servlet-name>
    <url-pattern>/trade-create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreditApply</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.CreditApplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditApply</servlet-name>
    <url-pattern>/credit-apply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfterCreditApplyNotify</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.AfterCreditApplyNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterCreditApplyNotify</servlet-name>
    <url-pattern>/after-credit-apply-notify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfterCreditApplyReturn</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.AfterCreditApplyReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterCreditApplyReturn</servlet-name>
    <url-pattern>/after-credit-apply-return</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfterPayNotify</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.AfterPayNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterPayNotify</servlet-name>
    <url-pattern>/after-pay-notify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AfterPayReturn</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.AfterPayReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AfterPayReturn</servlet-name>
    <url-pattern>/after-pay-return</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TradeQuery</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.TradeQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeQuery</servlet-name>
    <url-pattern>/trade-query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TradeRateQuery</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.TradeRateQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeRateQuery</servlet-name>
    <url-pattern>/trade-rate-query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TradeRefund</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.TradeRefundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeRefund</servlet-name>
    <url-pattern>/trade-refund</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TradeRefundQuery</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.TradeRefundQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeRefundQuery</servlet-name>
    <url-pattern>/trade-refund-query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TradeCancel</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.TradeCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeCancel</servlet-name>
    <url-pattern>/trade-cancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TradeStatementDownloadurlQuery</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.TradeStatementDownloadurlQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeStatementDownloadurlQuery</servlet-name>
    <url-pattern>/trade-statement-downloadurl-query</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>applyServletQueryServlet</servlet-name>
    <servlet-class>com.shoufuyou.sdk.demo.ApplyServletQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applyServletQueryServlet</servlet-name>
    <url-pattern>/apply-query</url-pattern>
  </servlet-mapping>

<!-- 实例 -->
  <servlet>
    <servlet-name>CreateCredit</servlet-name>
    <servlet-class>com.yeepay.sdk.demo.CreateCreditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCredit</servlet-name>
    <url-pattern>/yeepay-credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryCredit</servlet-name>
    <servlet-class>com.yeepay.sdk.demo.QueryCreditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCredit</servlet-name>
    <url-pattern>/yeepay-query-credit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>YeepayTrade</servlet-name>
    <servlet-class>com.yeepay.sdk.demo.TradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YeepayTrade</servlet-name>
    <url-pattern>/yeepay-trade</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>createTrade</servlet-name>
    <servlet-class>com.yeepay.sdk.demo.CreateTradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createTrade</servlet-name>
    <url-pattern>/yeepay-create-trade</url-pattern>
  </servlet-mapping>

  <!-- 退款 -->
  <servlet>
    <servlet-name>TradeRefundServlet</servlet-name>
    <servlet-class>com.yeepay.sdk.demo.TradeRefundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeRefundServlet</servlet-name>
    <url-pattern>/yeepay-trade-refund</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreateOrderNotify</servlet-name>
    <servlet-class>com.yeepay.sdk.demo.CreateOrderNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderNotify</servlet-name>
    <url-pattern>/create-order-notify</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreateOrderReturn</servlet-name>
    <servlet-class>com.yeepay.sdk.demo.CreateOrderReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderReturn</servlet-name>
    <url-pattern>/create-order-return</url-pattern>
  </servlet-mapping>

  <!-- test2包中的内容 -->
  <servlet>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.yeepay.test2.demo.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/test-create-order</url-pattern>
  </servlet-mapping>
</web-app>
